* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 10px;
}
h1 {
  text-align: center;
  color: #6be585;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 100%;
  padding: 15px;
  font-weight: bolder;
  font-size: 20px;
}
label {
  margin: 10px;
  color: #fff;
}
input[type="number"]{
    color: yellowgreen;
}
button{
    color: #fff;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    transition: 2s;
}
button:hover{
    background: #fff;
    color: #000;
   
}
#output-box{
    font-weight: bolder;
    font-size: 20px;
    color: white;
}